.invoice-box {
  max-width: 800px;
  margin: auto;
  padding: 30px;
  border: 1px solid #eee;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  line-height: 24px;
  font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
  color: #555;
  display: inline-block;
}

.invoice-header {
  font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
  text-align: center;
}

.container {
  padding: 10px;
  display: flex;
  justify-content: center;
}

.spaces {
  margin-right: 10%;
}

.bold {
  font-weight: bold;
  /*display: inline-block;*/
}

.floatright {
  float: right;
}

.invoice {
  float: right;
  font-weight: bold;
}
.shipto {
  font-size: 24px;
  border: 1px solid;
  color: ghostwhite;
  border-radius: 3px;
  background: black;
  width: 50%;
}

.invoicestyle {
  font-size: 24px;
  border: 1px solid;
  color: ghostwhite;
  border-radius: 3px;
  background: black;
}

.aligntablecenter {
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  text-align: left;
  padding: 8px;
  border-bottom: solid 1px #e3e4e6;
}

.printButton {
  background-color: #003df6;
  border: none;
  color: white;
  text-transform: uppercase;
  border-radius: 3px;
  width: 70px;
  height: 30px;
  font-weight: 600;
  font-size: 14px;
  visibility: visible;
}
.status {
  border-radius: 30px;
  background-color: #8bc34a;
  width: auto;
  padding: 5px 20px;
  color: white;
}
.fontColor {
  color: #979899;
}

.orderStyle {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}
.fontOuter {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #979899;
}
.fontInner {
  width: 20%;
  display: flex;
  align-items: center;
}
.statusFontOuter {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.grandTotalStyle {
  display: flex;
  font-weight: 1000;
  justify-content: space-between;
  width: 24%;
}

.totalStyle{
  width: 24%
}

.aaa {
  width: 70%;
}
@media print {
  .aaa {
    width: 130vw;
  }
  .printButton {
    visibility: hidden;
  }
  .fontInner {
    width: 30%;
  }
  .grandTotalStyle {
    width: 30%;
  }
  .totalStyle{
    width: 30%;
  }
}
